.signin-body {
    background-image: url("../img/login-bg.png");
    height: auto;
    max-width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    height: 100%; 
    margin: 0;
    overflow: hidden;
}
.signin-form {
    display: flex;
    min-height: 100vh;
  }

.form-control {
    min-width: 270px;
}
.bg-white {
    padding: 2.5em;
}
@media screen and (min-width: 1921px) {
    .signin-body {
        background-image: url("../img/login-bg-2.png");
    }
}
@media screen and (max-width: 820px) {
    .form-control {
        min-width: auto;
    }

    .bg-white {
   padding: 2em;
    }
}

#copy-right {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-150px;
    padding-bottom: 1em;
    color: white;
}

@media screen and (max-width: 575px) {
    #copy-right {
        display: none !important;
        overflow: hidden !important;
    }
}